body{
  background-color: #fafbfc;
  
}
.alignCenter{
    text-align: center;
}
.primaryText{
  color:#0095cf;
}
.secondaryText{
  color:#aae1ec;
}

.about>div{
  padding: 2%;
  color:#696969;
}
.intro{
  font-size: 1.6em;
  color:#fff;
  padding-top: 5%;
}
.firstpara{
  font-size: 1.0em;
  text-align: justify;
  

}
.values{
  text-align : center;
}
.avatar{
  text-align: center;
    margin: auto;
    width: 20% !important;
    height: 20% !important;
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  .Intro-intro-12{
    padding-top: 50% !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .Intro-intro-12{
    padding-top: 30% !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .Intro-intro-12{
    padding-top: 20% !important;
  }
}